asgiref==3.8.1
cfgv==3.4.0
distlib==0.3.8
Django==5.1.1
django-cors-headers==4.4.0
django-filter==24.3
django-js-asset==2.2.0
djangorestframework==3.15.2
filelock==3.16.1
identify==2.6.1
Markdown==3.7
nodeenv==1.9.1
pillow==10.4.0
platformdirs==4.3.6
pre_commit==4.0.0
psycopg2==2.9.9
PyYAML==6.0.2
sqlparse==0.5.1
virtualenv==20.26.6
